[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
python-dotenv = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
dotenv = "*"
django-templated-mail = "*"
django-mail-templated = "*"
redis = "*"
celery = "*"
flower = "*"
django = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"

[requires]
python_version = "3.13"
